@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: lightblue !important;
}

@layer base {
  html {
    font-family: 'Inter', system-ui, sans-serif;
  }
}

@layer components {
  .btn {
    @apply px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700;
  }
}
