name: Build & Deliver Workforce APK
on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.24.3'
          channel: stable
      - run: flutter pub get
      - run: flutter build apk --debug
      - run: flutter build apk --release --split-per-abi
      - uses: actions/upload-artifact@v4
        with:
          name: Workforce-Debug-APK
          path: build/app/outputs/flutter-apk/app-debug.apk
      - uses: actions/upload-artifact@v4
        with:
          name: Workforce-Release-APKs
          path: build/app/outputs/flutter-apk/app-*-release.apk
