.DS_Store
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg-info/
.env
.env.*
.venv/
venv/
node_modules/
pubspec.lock
.vscode/
.idea/
build/
dist/
.streamlit/
android/app/google-services.json
android/key.properties
ios/Runner/GoogleService-Info.plist
