name: Build APK

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Set up Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.24.3'
        cache: false

    - name: Accept Android licenses
      run: yes | flutter doctor --android-licenses

    - name: Get dependencies
      run: flutter pub get
      working-directory: mobile

    - name: Build APK
      run: flutter build apk --debug
      working-directory: mobile

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: Workforce-Debug-APK
        path: mobile/build/app/outputs/flutter-apk/app-debug.apk
